*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Raleway,sans-serif;
    
}
header{
    
    background-image: linear-gradient(80deg, rgb(6 6 6 / 64%) 21%, transparent),url("/image/banner1.jpg");
    background-size: cover;
    /* height: 100vh; */
    padding-bottom: 100px;
    
    
}
.header-top{
    padding: 1.5em 3%;
    display: flex;
    justify-content: space-between;
    /* position: sticky; */
    top: 0;
    flex-wrap: wrap;
}


.head-logo{
    color: white;
    padding: 40px;
    display: flex;
}
.head-logo:hover{
    cursor: pointer;
    color: #F85A40;
    transition: .5s;
}


.head-logo h1{
    padding-left: 10px;
}

.nav-bar{
    display: flex;
}

.nav-bar ul{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    flex-wrap: wrap;
    
}

.nav-bar ul li {
    list-style-type:none;
    padding: 50px 10px 0px 10px;
    font-weight: bold;
    
}
.nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#search{
    padding: 15px;
    margin:31px;
    border-radius: 60px;
}
.nav-bar ul li i{
    color: #FAFAFA;
}

/* .search-icon{
    display: flex;
    flex-wrap: wrap;
}

.search-icon i {
    margin: 10px ;
    color: white;
} */

/* ---------------- */
.h-content{
    margin: 9%;
    padding: 20px;
    line-height: 60px;
    color: white;
    font-size: 30px;
}
.h-center{
    font-size: 20px;
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.h-last button{
    background-color: aliceblue;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    width: 12rem;
    border-radius: 5px;
}

.h-last button:hover{
    background-color: transparent;
    transition: .4s;
    border: 2px solid white;
    color: white;
    transition:all(.5s);
}
#btn1{
    background-color: transparent; 
    border: 2px solid white; 
    color: aliceblue;
}
#btn1:hover{
    background-color: aliceblue;
    color: black;
    transition: all(.5s);
}

/* ---------- */
#about{
    justify-content: center;
    margin: 8rem;
    display: flex;
    flex-wrap: wrap;
}
.about-left{
    justify-content: right;
}
.about-left img{
    image-rendering: auto;
    align-items: center;
    width: 100%;
}

.about-right{
    padding: 30px;
}

.about-right-info{
    padding: 20px;
    line-height: 30px;
}
.about-right-info h1{
    font-size: 35px;
    padding-bottom: 15px;
}

.about-right-content{
    display: flex;
    padding: 20px;
}
.our-vision{
    padding-left: 50px;
}
.about-right-content i{
    color: #F85A40;
}

/* ----------- */
#whatwe{
    background-color: #FAFAFA;
    padding: 50px;
}
.what-box{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.whatwe-intro{
    text-align: center;
}
.whatwe-intro h1{
    font-family: Raleway,sans-serif;
    font-size: 35px;
    padding: 20px;
}
.whatwe-box{
    position: relative;
    margin: 20px;
    width: 350px;
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgb(226, 223, 223);
    border-radius: 5px;
}
.box-content h1{
    font-size: 18px;
}


.whatwe-box:hover{
    transition: .5s ease-in-out;
    box-shadow: 0 0 30px #ccc;
}


.box-img img{
    width: 100%;
}
.box-content{
    padding: 20px;
    line-height: 30px;
}
.box-end{
    color: #F85A46;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 10px;
    
}

/* Happy Customers----------- */
#customer{
    display: flex;
    justify-content: center;
    /* margin: 6em; */
    flex-wrap: wrap;
}

.customer-left-number{
    display: flex;
    margin: 2em 0px 0px;

    
}
.hundred-content{
    display: flex;
    padding: 0px 70px 0px 0px;
}

.customer-i{
    display: flex;
    padding-left: 50px;
    padding-bottom: 30px;
}

.customer-left{
    text-align: left;
    /* margin: 30px; */
    margin: 6em;
}
.customer-right{
    margin-top: 6em;
}


.customer-left p{
    padding: 20px 0px 0px;
    line-height: 25px;
}

.hundred i{
    color: #1A2C79;
    padding: 0px 20px 0px 0px;
    
}
.hundred-info h1{
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: 100;
}
.hundred-info h2{
    font-size: 15px;
    color: gray;
    font-weight: 100;
}

.customer-icon img{
    border-radius: 50%;
    padding: 0px 20px 0px 0px;
}
.customer-desc-one{
    line-height: 25px;
    color: gray;
}
.customer-name h2{
    color: #1A2C79;
    font-size: 17px;
    padding-top: 10px;
    
}

/* ------------------ */
#dog-feature{
    background-color: #FAFAFA;
}
.dog-img img{
    width: 100%;
    justify-content: right;
}
.dog-features{
    display: flex;
    padding: 3rem;
    justify-content: center;
    flex-wrap: wrap;
}
.dog-info{
    display: flex;
    flex-basis: 50%;
    padding-left: 20px;
}

.dog-col{
    line-height: 31px;
    padding: 10px;
    margin: 7%;
}

.dog-col i{
    color: #F85A40;
}
/* ----------------------- */
#petlover{
    background-image: url(/image/bg.jpg);
    background-attachment: fixed;
    color: white;
    
}
.petlover-content{
   padding: 20px;
}
.pet-cont{
    margin: 7rem;
}

.pl1{
    margin: 20px;
}

.pl2{
    font-size: 45px;
    margin: 20px;
}

.pl3{
    margin: 20px;
}

.pl3 button{
    background-color: aliceblue;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    width: 12rem;
    border-radius: 5px;
}

.pl3 button:hover{
    background-color: transparent;
    transition: .4s;
    border: 2px solid white;
    color: white;
    transition:all(.5s);
}

/* Latest News */
#latestnews{
    text-align: center;
    margin: 20px;
}

.news-section{
    font-size: 27px;
    padding-top: 50px;
}
.l-news-section{
    color: gray;
    font-size: 20px;
    padding: 20px;
}
#what-box{
    text-align: left;
}
.box-content p{
    font-size: 25px;
    padding-top: 13px;
}

/* --NEWSLETTER */

#newsletter{
    background-color: black;
    color: white;
    
}
.newsletter-row{
    display: flex;
    justify-content: center;
    padding: 5rem;
    flex-wrap: wrap;

}
.newsletter-logo{
    display: flex;
    padding-bottom: 20px;
}
.newsletter-logo h1{
    font-size: 35px;
    padding-left: 20px;
}
.newsletter-logo i{
    color: #F85A40;
}
.newsletter-para{
    line-height: 30px;
}

.newsletter-logo-section{
    padding-right: 50px;
    padding-bottom: 30px;
}
.categories{
    padding-right: 50px;
    padding-bottom: 30px;

}

.categories-col{
    display: flex;
    padding-top: 20px;
}
.cata1 p{
    padding-top: 10px;
}
.cata1 p:hover{
    color: #F85A40;
    transition: .5s;
    cursor: pointer;
}

.subscribe h1{
    padding-bottom: 20px;
}
.subscribe-col{
    padding-bottom: 20px;
}
#email{
    padding: 12px;
    width: 300px;
}
.btn{
    padding: 14px;
    background-color: #F85A40;
    border-style: none;
    color: white;
}
.btn:hover{
    background-color: #b33825;
    cursor: pointer;
    transition: .5s;
}
.subscribe p{
    line-height: 25px;
}

footer{
    border-top: 1px solid rgba(238, 238, 238, 0.16);
    display: flex;
    justify-content: center;
    padding: 20px;
}
.f-left{
    padding-right: 6rem;
}
.f-right i{
    padding-left: 15px;
}
.f-right i:hover{
    color: #F85A40;
    transition: .5s;
}