*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Raleway,sans-serif;
    
}
header{
    
    background-image: linear-gradient(80deg, rgb(6 6 6 / 64%) 21%, transparent),url("/image/banner1.jpg");
    background-size: cover;
    height: 100vh;
    
    
}
.header-top{
    padding: 1.5em 3%;
    display: flex;
    justify-content: space-between;
    /* position: sticky; */
    top: 0;
}


.head-logo{
    color: white;
    padding: 40px;
    display: flex;
}
.head-logo h1{
    padding-left: 10px;
}

.nav-bar{
    display: flex;
}

.nav-bar ul{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    
}

.nav-bar ul li {
    list-style-type:none;
    padding: 50px 10px 0px 10px;
    font-weight: bold;
    
}
.nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#search{
    padding: 15px;
    margin:31px;
    border-radius: 60px;
}
.search-icon i {
    margin: 10px ;
    color: white;
}

/* ---------------- */
.h-content{
    margin: 9%;
    padding: 20px;
    line-height: 60px;
    color: white;
    font-size: 30px;
}
.h-center{
    font-size: 20px;
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.h-last button{
    background-color: aliceblue;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    width: 12rem;
    border-radius: 5px;
}

.h-last button:hover{
    background-color: transparent;
    transition: .4s;
    border: 2px solid white;
    color: white;
    transition:all(.5s);
}
#btn1{
    background-color: transparent; 
    border: 2px solid white; 
    color: aliceblue;
}
#btn1:hover{
    background-color: aliceblue;
    color: black;
    transition: all(.5s);
}

/* ---------- */
#about{
    justify-content: center;
    margin: 8rem;
    display: flex;
    flex-wrap: wrap;
}
.about-left{
    justify-content: right;
}
.about-left img{
    image-rendering: auto;
    align-items: center;
}

.about-right{
    padding: 30px;
}

.about-right-info{
    padding: 20px;
    line-height: 30px;
}
.about-right-info h1{
    font-size: 35px;
    padding-bottom: 15px;
}

.about-right-content{
    display: flex;
    padding: 20px;
}
.our-vision{
    padding-left: 50px;
}
.about-right-content i{
    color: #F85A40;
}

/* ----------- */
#whatwe{
    background-color: #FAFAFA;
    padding: 50px;
}
.what-box{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.whatwe-intro{
    text-align: center;
}
.whatwe-intro h1{
    font-family: Raleway,sans-serif;
    font-size: 35px;
    padding: 20px;
}
.whatwe-box{
    position: relative;
    margin: 20px;
    width: 350px;

    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgb(226, 223, 223);
    border-radius: 5px;
}
.whatwe-box:hover{
    transition: .5s ease-in-out;
    box-shadow: 0 0 30px #ccc;
}


.box-img img{
    width: 100%;
}
.box-content{
    padding: 20px;
    line-height: 30px;
}
.box-end{
    color: #F85A46;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 10px;
    
}